/* 1. 属性选择器 */
input[type="password"] { border: 2px solid red; }
  /* 正确写法：选中表单中的第一个输入框 */
form input:first-of-type { background: #6db0eb; }

/* 3. 伪元素 */
label::before { content: "* "; color: red; }

/* 4. 后代选择器 */
div.remember input { margin-right: 5px; }