  .product-title {
      text-decoration: none;
      font-weight: bold;
    }

    /* 价格区样式 */

    .promotion-price {
      color: red;
    }

    .original-price {
      text-decoration: line-through;
      margin-left: 10px;
    }

    /* 促销信息样式 */
    .promotion {
      color: rgb(0, 247, 103);
      text-align: left;
    }